* {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

body {
  background-image: url("../assets/shaafi-ali-4Se_LbEl5SY-unsplash.jpg");
  /* Picture: https://unsplash.com/photos/4Se_LbEl5SY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#pageTitle {
  padding-top: 50px;
  padding-bottom: 50px;
}

#data {
  padding-top: 50px;
  padding-bottom: 50px;
}

#description {
  line-height: 2em;
}

iframe {
  height: 400px;
  width: 700px;
}

footer {
  border-radius: 2%;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
}