@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-image: url('../assets/IBrfZAi.jpg');
    background-position: center;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    h1 {
        text-align: center;
    }
}
.apod {

    h1 {
        margin-bottom: 40px;
    }
    width: 50%;
    text-align: center;
#title {
    font-size: 30px;
    padding-bottom: 20px;
}
    #description {
        font-size: 17px;
        line-height:2;
        margin-left: 10%;
        margin-right: 10%;
    }
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    h2 {
        margin-top: 40px;
    }
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
    }
    
}