@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url("../assets/shaafi-ali-4Se_LbEl5SY-unsplash.jpg");
  /* Picture: https://unsplash.com/photos/4Se_LbEl5SY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: relative;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 5%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.issInfo .peopleInSpace {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.issInfo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.peopleInSpace #spacepeeps {
  padding-top: 20px;
}

.peopleInSpace #astronames li {
  padding: 5px;
}

#mapid {
  height: 100%;
  width: 100%;
}

#data {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
}

#data #latitude {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border-radius: 1em;
  margin-bottom: 30px;
}

#data #long {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border-radius: 1em;
  margin-bottom: 30px;
}

#data #vel {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border-radius: 1em;
  margin-bottom: 30px;
}

#data #alt {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border-radius: 1em;
}

#data img {
  height: 100px;
  width: 100px;
}

footer {
  border-radius: 2%;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

footer a {
  text-decoration: none;
}