
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
}
html {
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Space Mono', monospace;
    text-align: center;
}
.picture {
  margin: 2%;
}
.info {
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 27px;
    font-size: 20px;
    
}
footer {
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer img {
    height: 2em;
    width:2em;
}
