@font-face {
  font-family: AstroSpace-eZ2Bg;
  src: url(fonts/a-astro-space-font/AstroSpace-eZ2Bg.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: AstroSpace-eZ2Bg, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
