body {
  background-image: url("../../assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
}
#pageTitle {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  
  #title {
    text-align: center;
  }

  #data {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #description {
    line-height: 2.5em;
    font-size: 14px;
  }
  
  #apodImage {
    height: 500px;
  }
  
  footer {
    border-radius: 2%;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
  }